<div class="container">
    <div class="item-detail">
        <h3>Product Details</h3>
        <p>Strain: {{product.strain}}</p>
        {{!-- Grabbing these form values by id for update button --}}
        <form action=`/api/products/{{product.id}}`, method=PATCH>
            <p>Price: <input id="price" placeholder={{product.price}} name="price"></p> {{!-- needs to be editable --}}
            <p>Quantity: <input id="product-quantity" placeholder={{product.quantity}} name="quantity"></p>
            {{!-- needs to be editable --}}
        </form>
        <p>Packaging: {{product.packaging}}</p>
        {{!-- special characters to render () in html --}}
        <p>Size &#40grams&#41: {{product.size}}</p>
        <p>THC %: {{product.thc}}</p>
        <p>CBD %: {{product.cbd}}</p>
        <p>Type: {{product.type}}</p>
        <p>Strain Type: {{product.strain_type}}</p>
        <p>Genetics: {{product.genetics}}</p>
        <p>Flavor: {{product.flavor}}</p>
        <p>Feelings: {{product.feelings}}</p>
        <p>Alleviates: {{product.alleviates}}</p>
        <p>Comments: {{product.comments}}</p>

    <!-- Modal Structure -->
    <div id="modalP" class="modal">
        <div class="modal-content">
            <h4>{{product.strain}} has been updated!</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

        {{!-- Update "save" button --}}
        <button id="update-product-btn" data-price="{{product.price}}" data-quantity="{{product.quantity}}"
            data-id="{{product.id}}" data-target="modalP" class="modal-trigger">Save</button>
        {{!-- Go Back "home" button --}}
        <button class="home-btn">Go Back</button>
        {{!-- Delete button --}}
        <button id="delete-product-btn" data-id="{{product.id}}">Remove Product From Database</button>
    </div>
</div>